.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color:#fff;
  }
  
  


  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    border: .5px solid #fff;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  



  .post-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .post-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .post-button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-button:hover {
    background-color: #0056b3;
  }
  
  
  .user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-weight: bold;
  }
  